.facts {
	.facts__info {
		// display: flex;
		flex-direction:row;
	}
	@media (min-width: $screen-xs) {
		background-color: $light-grey;

	}
	@media (min-width: $screen-sm) {
		background-color: $text-white;
	}
	@media (min-width: $screen-lg) {
		background-color: $light-grey;

	}


	&__inner {
		@media (min-width: $screen-xs) {		
			justify-content: center;
 			width: 295px;
 			margin:auto;
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		}
		@media (min-width: $screen-sm) {
			
			justify-content: space-between;
			width: 746px;
		}
		@media (min-width: $screen-lg) {
			width: 1170px;
			}
		}
}