.header {
	color: $text-white;
	.main-nav {display: none;}
	height: 500px;
	display: flex;

	background-size: cover;
	&__inner {
		position: relative;
		@media (min-width: $screen-xs) {
 			width: $screen-xs;
 			margin:auto;
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		}
		@media (min-width: $screen-sm) {
			width: $screen-sm;
		}
		@media (min-width: $screen-lg) {width: $screen-lg;}
	}

	@media (min-width:$screen-xs) {


	}
	@media (min-width:$screen-sm) {

		.main-nav {
			// display: block;
		}

	}
}