.header {
	color: $text-white;
	background-size: cover;
	&__inner {
		// position: relative;
		display: flex;
		justify-content: space-around;
		flex-direction:column;
		@media (min-width: $screen-xs) {
 			width: $screen-xs;
 			margin:auto;
 			height: 500px;
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		}
		@media (min-width: $screen-sm) {
			width: $screen-sm;
			height: 600px;
		}
		@media (min-width: $screen-lg) {
			width: $screen-lg;
			height: 650px;
			}
		}


}