.price {
	@media (min-width: $screen-sm) {
		background-color: $light-grey;
	}
	@media (min-width: $screen-lg) {
		background-color: #FFF;
		}

	&__inner {
		@media (min-width: $screen-xs) {
 			width: 300px;
 			margin:auto;
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		}
		@media (min-width: $screen-sm) {

			justify-content: space-between;
			width: 746px;
		}
		@media (min-width: $screen-lg) {
			width: 1170px;
			}
		
	}
}