
.reviews {
	&__inner {
		width: 295px;
 		margin:auto;
		// display: flex;
		// flex-direction: column;
		@media (min-width: $screen-sm) {
			width: 746px;
		}
		@media (min-width: $screen-lg) {
			width: 1170px;
		}
	}
}