.side-bar {
	position: absolute;
	top:0;
	right: 0;
	height: inherit;
	width: 40px;
    background-color: rgba(0,0,0, 0.4);
    font-family: $font-family-second;
    font-weight: 300;

	@media (min-width: $screen-xs) {
		display: block;
	}
	@media (min-width: $screen-sm) {
		display: none;
	}
	@media (min-width: $screen-lg) {
		display: block;
	}
	&__link{
		display: inline-block;
    	transform: rotate(-90deg);
		position: absolute;
		right: -200%;
		margin:0 auto;
		top:50%;
		width: 200px;
	}

}