.slide-section {

	
	@media (min-width: $screen-xs) {
			background-image: url(../img/slider.jpg);
			background-size: cover;
			color: $text-white;
			height: 400px;
			&__title {
			padding: 40px 0 40px 0;
			font-size: 20px;
			}
			.slide-section__visual {
				display: none;
			}
			// .slick-next, .slick-arrow {
			// 	display: none;
			// }
			.slider__text {
				margin: 16px 0 70px 0;
				line-height: 20px;
				font-family: $font-family-second;
				font-weight: 300;
				font-size: 12px;
			}
 		}
 	@media (min-width: $screen-sm) {
		background: none;
		color: $text-dark;
		background-color: $light-grey;
		
		.slide-section__info {
			float: left;
			display: inline-block;
			width: 50%;
		}
		.slide-section__visual {
				float: left;
				display: inline-block;
				width: 50%;
				height: 343px;
				.slide-section__img {
					width: 100%;
					height: 100%;
					background-image: url("../img/slider.jpg");
					background-size: cover;
				}
		}
		.slider__text {
			padding: 0 25px 0 25px;
			margin: 16px 0 94px 0px;
		}
	}
	@media (min-width: $screen-lg) {
		background-color: $text-white;
		height: 520px;	
		.slide-section__visual{
			height: 520px;
		}
		&__title {
			padding: 50px 0 50px 0;
			font-size: 30px;
			}
		.slider__text {
			font-size: 16px;
			line-height: 30px;

		}
	}

	

	&__inner {
		@media (min-width: $screen-xs) {
 			width: 295px;
 			margin:auto;
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		}
		@media (min-width: $screen-sm) {
			width: 746px;
		}
		@media (min-width: $screen-lg) {
			width: 1170px;			}
	}

}
